StateMachine.xcodeproj/xcuserdata/khr.xcuserdatad/xcdebugger/
.DS_Store
StateMachine.xcodeproj/xcuserdata/khr128.xcuserdatad/
StateMachine.xcodeproj/project.xcworkspace/xcshareddata/
StateMachine.xcodeproj/project.xcworkspace/xcuserdata/
